<div id="portfolioGrid">

	<figure>
		<h3>Css Zen Garden: Forest Zen</h3>
		<a href="#cssZenGarden" ><img class="thumbnail" src="img/portfolio/thumb_cssZenGarden.png" alt="Css Zen Garden: Forest Zen"></a>
		<a href="#_" class="lightbox" id="cssZenGarden">
			<img src="img/portfolio/cssZenGarden.png" alt="Css Zen Garden: Forest Zen">
		</a>
		<figcaption>Entry for the CSS Zen Garden web challange</figcaption>
	</figure>

	<figure>
		<h3>H20 Assist Prototype</h3>
		<a href="#h20assist"><img class="thumbnail" src="img/portfolio/thumb_h20assist.jpg" alt="H20 Assist Prototype"></a>

		<a href="#_" class="lightbox" id="h20assist">
			<img src="img/portfolio/h20assist.jpg" alt="H20 Assist Prototype">
		</a>
		
		<figcaption>Prototype for a fictional NGO</figcaption>
	</figure>

	<figure>
		<h3>Typographic Poster: Green Energy</h3>
		<a href="#typographicPoster"><img class="thumbnail" src="img/portfolio/thumb_typographicPoster.jpg" alt="Typographic Poster: Green Energy"></a>

		<a href="#_" class="lightbox" id="typographicPoster">
			<img src="img/portfolio/typographicPoster.jpg" alt="Typographic Poster: Green Energy">
		</a>		
		<figcaption>Poster created using nothing but typographical glyphs</figcaption>
	</figure>

	<figure>
		<h3>Small Caterpiller in the Forest</h3>
		<a href="#smallCaterpillerAndMoss"><img class="thumbnail" src="img/portfolio/thumb_smallCaterpillerAndMoss.JPG" alt="Small Caterpiller in the Forest"></a>

		<a href="#_" class="lightbox" id="smallCaterpillerAndMoss">
			<img src="img/portfolio/smallCaterpillerAndMoss.JPG" alt="Small Caterpiller in the Forest">
		</a>
		<figcaption>Photo taken in the Ontario Greenbelt, Fall 2019</figcaption>
	</figure>

	<figure>
		<h3>Mushrooms on Tree</h3>
		<a href="#treeWithMushrooms"><img class="thumbnail" src="img/portfolio/thumb_treeWithMushrooms.JPG" alt="Mushrooms on Tree"></a>

		<a href="#_" class="lightbox" id="treeWithMushrooms">
			<img src="img/portfolio/treeWithMushrooms.JPG" alt="Mushrooms on Tree">
		</a>
		<figcaption>Photo taken in the Ontario Greenbelt, Fall 2019</figcaption>
	</figure>

	<figure>
		<h3>Frosty Leaf</h3>
		<a href="#frostyLeaf"><img class="thumbnail" src="img/portfolio/thumb_frostyLeaf.JPG" alt="Frosty Leaf"></a>

		<a href="#_" class="lightbox" id="frostyLeaf">
			<img src="img/portfolio/frostyLeaf.JPG" alt="Frosty Leaf">
		</a>
		<figcaption>Photo taken in the Ontario Greenbelt,  late Fall 2019</figcaption>
	</figure>
</div>